<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name='viewport' content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/reset.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/style.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/ionicons.css') }}">
	<link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600' rel='stylesheet' type='text/css'>
	<link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
	<!-- <link rel="stylesheet" type="text/css" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css"> -->
	<title>SomoslaNOprevia</title>
</head>
<body>
<main>
	<nav>
		<div class="container">
			<a href="">
				<img src="http://placehold.it/50x50">
			</a>
			<ul>
				<li><a class="montserrat-upper" href="#">vivo</a></li>
				<li><a class="montserrat-upper" href="#">programas</a></li>
			</ul>
		</div>
	</nav>
	<div class="radio">
		<div class="container">
			<iframe src="https://mixlr.com/users/5405417/embed" width="100%" height="180px" scrolling="no" frameborder="no" marginheight="0" marginwidth="0"></iframe><small><a href="http://mixlr.com/juliiflamingo" style="color:#1a1a1a;text-align:left; font-family:Helvetica, sans-serif; font-size:11px;">juliiflamingo is on Mixlr</a></small>
		</div>
	</div>
	<header>
		<div class="container bkg-header">
		<h1>#SomoslaNOprevia</h1>
		</div>
	</header>
	<section>
		<div class="container bkg-pink">
          	            <a class="twitter-timeline"  href="https://twitter.com/search?q=%40SomoslaNOprevia" data-widget-id="768253224885231618">Tweets sobre @SomoslaNOprevia</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
          
		</div>
	</section>
	<footer>
		<div class="container">
			<div class="address">
				<h3 class=" montserrat-upper">direccion</h3>
				<p class="open-sans white">Versalles, CABA 1408</p>
			</div>
			<div class="socialmedia">
				<h3 class="montserrat-upper">nuestras redes sociales</h3>
				<ul>
					<li class="circulo">
						<a href="https://www.facebook.com/profile.php?id=100013229591671">
							<span class="ion-social-facebook"></span>
						</a>
					</li>
					<li class="circulo">
						<a href="https://www.instagram.com/somoslanoprevia/">
							<span class="ion-social-instagram-outline"></span>
						</a>
					</li>
					<li class="circulo">
						<a href="https://twitter.com/SomoslaNOprevia/">
							<span class="ion-social-twitter"></span>
						</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="copyright white open-sans">
			<p>SomoslaNOprevia 2016</p>
		</div>
	</footer>
</main>
</body>
</html>